.middle-cell {
    vertical-align: middle !important;
    text-align: center !important;
}

.bold-cell {
    font-weight: bold;
}

.margin10 {
    margin: 10px;
}

th {
    text-align: center !important;
}

body {
    padding: 5px;
}

body.font10 * {
    line-height: 12px;
    font-size: 11px;
}

.no-margin-bottom {
    margin-bottom: 0;
}